<ion-view view-title="GABBER" cache-view="false">
<ion-nav-bar class="bar-positive">
<ion-nav-back-button >
</ion-nav-back-button>
</ion-nav-bar>
    <ion-content class="has-header">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input style="width:100%" ng-model="message" type="text" placeholder="Message">
            </label>
            <button ng-click="add(message); message = null" class="button button-small">
                Submit
            </button>
        </div>
        <ul ng-repeat="m in messages">
            <li class="item" style="text-align:center">{{m.user | limitTo: 2}} : {{m.message}}</li>
        </ul>
    </ion-content>
</ion-pane>

