<ion-view view-title="LOGIN" cache-view="true">
<ion-nav-bar class="bar-positive">
<ion-nav-back-button >
</ion-nav-back-button>
</ion-nav-bar>
    <ion-content style="background-color: #f2f2f4;" class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="email" ng-click="email = ''">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="password" ng-click="password = ''">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="loginEmail(email,password)">Login</button>
        <button ng-show='!loggedIn' ng-click="googleIn()" class="button button-full button-positive">
            Google Login
        </button>
    </ion-content>

<div class="bar bar-footer bar-balanced">
    <div class="title">Baby Wallet V0.06</div>
</div>
