<ion-view view-title="EDIT" cache-view="false">
<ion-nav-bar class="bar-positive">
<ion-nav-back-button >
</ion-nav-back-button>
</ion-nav-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-image">
                <img src="data:image/jpeg;base64,{{image}}">
            </div>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input ng-model="name" type="text" placeholder="{{name}}">
            </label>
            <label class="item item-input">
                <span class="input-label">Birthdate</span>
                <input ng-model="birthday" type="date" value="{{birthday}}">
            </label>
            <label class="item item-input">
                <span class="input-label">Favorite Food</span>
                <input ng-model="food" type="text" value="{{food}}">
            </label>
            <label class="item item-input">
                <span class="input-label">Favorite Activity</span>
                <input ng-model="activity" type="text" value="{{activity}}">
            </label>
            <button ng-click="update(name,birthday,food,activity)" class="button button-full button-positive">
                Update this wallet
            </button>
        </div>
    </ion-content>
</ion-pane>

