 <ion-pane on-swipe-right="swipeleftAction()">
 <div class="bar bar-header">
  <button ui-sref="start" class="button button-full button-positive">
    Back to index page
  </button>
</div>

<ion-content class="has-header" ng-controller="mainCtrl" ng-init="loadImages()">
<!--should be wallet in wallets-->
<div class="row" ng-repeat="wallet in wallets" ng-if="$index % 2 === 0">
  <div class="col col-50" ng-if="$index < wallets.length">
    <img ng-click='view()' id="{{wallets[$index].$id}}" ui-sref="show({id: '{{wallets[$index].$id}}' })" ng-src="data:image/jpeg;base64,{{wallets[$index].image}}" width="100%" />
    <div ng-click="edit($event)" id="{{wallets[$index].$id}}" style="background:grey" class="col text-center">
     <span id="{{wallets[$index].$id}}" style="text-align:center;">{{wallets[$index].name}}</span>
   </div>
  </div>
  <div class="col col-50" ng-if="$index + 1 < wallets.length">
   <img ng-click='view()' id="{{wallets[$index+1].$id}}" ui-sref="show({id: '{{wallets[$index+1].$id}}' })" ng-src="data:image/jpeg;base64 ,{{wallets[$index+1].image}}" width="100%" />
   <div ng-click="edit($event)" id="{{wallets[$index+1].$id}}" style="background:grey" class="col text-center">
     <span id="{{wallets[$index + 1].$id}}" style="text-align:center">{{wallets[$index+1].name}}</span>
   </div>
 </div>
</div>

</ion-content>
</ion-pane>
<div class="bar bar-footer bar-balanced">
  <button on-hold="showDetails()" class="button button-outline button-light" ng-click="add()"><i class="ion-plus"></i></button>

  <button ng-click="view()" class="button icon ion-gear-a">
  View Wallet
  </button>

  <button class="button button-outline button-light" ng-click="remove()"><i class="ion-minus"></i></button>
</div>
<div class="title">New Wallet</div>
</div>
