<ion-view view-title="SIGNUP" cache-view="false">
<ion-nav-bar class="bar-positive">
<ion-nav-back-button >
</ion-nav-back-button>
</ion-nav-bar>
    <ion-content style="background-color: #f2f2f4;" class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Your name" ng-model="name">
            </label>
            <div class="height-20"></div>
            <label class="item item-input">
                <input type="tel" placeholder="Phone number" ng-model="phone">
            </label>
            <div class="height-20"></div>
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="email">
            </label>
            <div class="height-20"></div>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="password">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="signupEmail(email,password,phone,name)">Signup</button>
        <button ng-show='!loggedIn' ng-click="googleIn()" class="button button-full button-positive">
            Google Sign Up
        </button>
    </ion-content>

<div class="bar bar-footer bar-balanced">
    <div class="title">Baby Wallet V0.05</div>
</div>
