<ion-pane>
<ion-view view-title="BABY WALLET 0.7">
<ion-nav-bar class="bar-positive">

</ion-nav-bar>
<ion-content class="has-header" style="background-color: #f2f2f4;">

        <div class="list card">
            <div class="height-20"></div>
            <div class="height-20"></div>
            <div class="item item-image">
                <img src="img/start.png">
            </div>
        </div>
        <button ng-show='!loggedIn' ui-sref="login" class="button button-full button-positive">
            Login
        </button>
        <button ng-show='!loggedIn' ui-sref="signup" class="button button-full button-positive">
            Sign Up
        </button>
        <button ng-click='logOut()' ng-show='loggedIn' class="button button-full button-positive">
            Log Out
        </button>
        <a ng-show='loggedIn' class="item item-avatar" ng-click="goProfile()">
            <img src="{{profileImageURL}}">
            <h2>{{user}}</h2>
        </a>
        </ion-content>
</ion-pane>
<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Home" ui-sref="start" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
        <!-- Tab 1 content -->
    </ion-tab>
    <ion-tab ng-click="chat()" title="Gabber" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
        <!-- Tab 2 content -->
    </ion-tab>
    <ion-tab ng-click="main()" ng-show='loggedIn' title="Wallets" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
        <!-- Tab 3 content -->
    </ion-tab>
</ion-tabs>
