 <ion-pane>

 <div class="bar bar-header">
  <button ng-show='loggedIn' ui-sref="main" class="button button-full button-positive">
    View Baby Albums: {{current}}
  </button>
</div>


<ion-content>
<ion-slide-box>
<ion-slide ng-repeat="wallet in wallets">
<img src="data:image/jpeg;base64,{{wallets[$index].image}}">
</ion-slide>

</ion-slide-box>

<button ng-show='!loggedIn' ui-sref="login" class="button button-full button-positive">
  Login
</button>
<button ng-show='!loggedIn' ui-sref="signup" class="button button-full button-positive">
  Sign Up
</button>

<button ng-click='logOut()' ng-show='loggedIn' class="button button-full button-positive">
  Log Out
</button>
<a ng-show='loggedIn' class="item item-avatar" href="#">
  <img src="{{profileImageURL}}">
  <h2>{{user}}</h2>

</a>




</ion-content>
</ion-pane>
<div class="bar bar-footer bar-balanced">
  <div class="title">Baby Wallet V0.06</div>
</div>
