 <ion-pane on-swipe-right="swipeleftAction()">

 <div class="bar bar-header">
  <button ui-sref="show({id: '{{wallet}}' })" class="button button-full button-positive">
    Back to show
  </button>
</div>

<ion-content>
<div class="list card">
  <div class="item item-image">
    <img ng-click="share()" src="data:image/jpeg;base64,{{images[index].image}}">
  </div>
</div>

<label class="item item-input">
  <span class="input-label">Comment:</span>
  <input ng-model="comment" type="text">
</label>
<button class="button" ng-click="add(comment)">Add</button>

<ul ng-repeat="c in images[index].comments">
  <li style="text-align:center">{{c.user}} : {{c.comment}}</li>
</ul>

</ion-content>
</ion-pane>
<div class="bar bar-footer bar-balanced">
  <div class="title"></div>
  <button class="button" ng-click="shareAnywhere()">Share anywhere</button>
  <button class="button" ng-click="shareViaTwitter('some message', 'null', 'https://www.thepolyglotdeveloper.com')">Share on Twitter</button>

</div>
